#blog .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog h3,h4{
    text-align: center;
}
#blog article{
    margin:15px;
}
#blog img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#blog figure{
    width: 20em;
    height: 20em;
}