#menu-bar{
    display:none;
}
header label{
    float: right;
    font-size: 28px;
    margin:9px 0;
    cursor: pointer;
}
.container h1{
    margin-top:6px;
}
.menu{
    position: absolute;
    top:50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(33,33,33,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.menu a:hover{
    background-color: rgba(255, 255, 255, .3);

}
#menu-bar:checked ~ .menu{
    transform: translate(0%);
}
@media screen and (min-width:1024px){

    .menu{
        float: right;
        display: flex;
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        background: #333;
    }
    .menu a{
        border:none;
    }
    .icon-menu{
        display: none;
    }
}

